.App {
  text-align: center;
}

.App-logo {
  animation: App-logo infinite 20s linear;
  height: 80px;
  float: left
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wine {
  animation: App-logo infinite 20s linear;
  align-content: inline;
  height: 200px;
}

.main-page {
  align-self: flex-start;
  flex-direction:row;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.crop {
 height: 300px;
 width: 400px;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 400px;
}
