.App {
  text-align: center;

}
.laura{
  padding-bottom: 10px;

}

.ui.centered.grid > .ui.centered.cards:first-child > .card:first-child {
  margin-top:35px;
}

#root {
  background-image: url('./images/background.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.matched {
  background-image: url('./images/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainPage {
  background-image: url('./images/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: repeat-y;
}

.App-logo {
  animation: App-logo infinite 20s linear;
  height: 80px;
  float: left;
}

.yelp-logo{
  height: 40px;
  float: right;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wine {
  animation: App-logo infinite 20s linear;
  text-align:center;
  height: 200px;
}

.main-page {
  align-self: flex-start;
  flex-direction:row;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.crop {
 height: 300px;
 overflow: hidden;
 text-align: center;
}

.imgCrop {
 height: 100%;
}

.image {
  width: 300px;
  height: 400px;
}

.form-h4{
  color: tomato;
}

.signup{
  color: blue;
}

.register-form{
  padding-top: 25px;
  z-index: 4;
}
